1. menggabungkan dua list menjadi satu list baru lalu tampilkan

In [17]:
from typing_extensions import LiteralString
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]


result = list1+list2
print(result)

[1, 2, 3, 4, 3, 4, 5, 6]

Expected Output :

[1, 2, 3, 4, 3, 4, 5, 6]

2. menggabungkan dua list menjadi satu list baru tanpa duplikat lalu tampilkan

In [6]:
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]



result = list(set(list1+list2))
print(result)

[1, 2, 3, 4, 5, 6]

Expected Output :

[1, 2, 3, 4, 5, 6]

3. Lengkapi kode untuk menghasilkan suatu output yang di harapkan

In [18]:
a = ['1', '13b', 'aa1', 1.32, 22.1, 2.34]
# slicing list

result = a[1:-1]
print(result)

['13b', 'aa1', 1.32, 22.1]

Expected Output :

[ '13b', 'aa1', 1.32, 22.1 ]

4. Lengkapi kode untuk menghasilkan suatu output yang di harapkan

In [23]:
a = [
    [5, 9, 8],
    [0, 0, 6]
    ]
# subsetting list

result[1][1:]
print(result)

['13b', 'aa1', 1.32, 22.1]

Expected Output :


[0, 6]

5. Gunakan cara sclicing untuk mengakses tuple sehingga mendapatkan hasil sesuai expected output

In [14]:
tuple_1 = (1, 2, 6, 7, 8, 9, 10)

#akses tuple


result = tuple_1[2:5]
print(result)

(6, 7, 8)

Expected Outpout:


(6, 7, 8)

6. Lengkapi kode untuk menghasilkan suatu output yang di harapkan

In [26]:
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# tambahkan key itali ke objek dictionary dengan value roma

# cek apakah itali ada di dalam objek dictionary

europe['itali'] = 'roma'
print('itali' in europe)

True

Expected Output:
    
True

7. menggabungkan dua dictionary menjadi satu. Tampilkan hasilnya

In [28]:
dict1 = {"a": 1, "b": 2}
dict2 = {"b": 3, "c": 4}

dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 3, 'c': 4}

Expected Output:
    
{"a": 1, "b": 5, "c": 4}